<h2>when something is downloading show progress bar</h2>
<mat-progress-bar class="progress" mode="determinate" value="50"></mat-progress-bar><br><br>


<h2>user is asked to wait while something finishes</h2>
<mat-progress-bar class="progress" mode="indeterminate"></mat-progress-bar><br><br>


<h3>Use the buffer mode of the progress-bar to indicate some activity or loading from the server.</h3>
<mat-progress-bar class="progress" mode="buffer"></mat-progress-bar>


<h3>indicate pre-loading before the actual loading starts.</h3>
<mat-progress-bar class="progress" mode="query"></mat-progress-bar>