<div>
   <mat-tab-group mat-align-tabs="start" >
    <mat-tab >
        <ng-template mat-tab-label>
            <span (click)="in(1)" >process1</span>
        </ng-template>
       <button class=" btn btn-primary pd-3"  (click)="selectComponent(i)" *ngFor="let obj of json1; let i=index">Button{{i+1}}</button>
    </mat-tab>


    <mat-tab >
        <ng-template mat-tab-label>
            <span (click)="in(2)" >process2</span>
        </ng-template>
       <button class=" btn btn-primary pd-3"  (click)="selectComponent(i)" *ngFor="let obj of json1; let i=index">Button{{i+1}}</button>
    </mat-tab>


    <mat-tab >
        <ng-template mat-tab-label>
            <span (click)="in(3)" >process3</span>
        </ng-template>
       <button class=" btn btn-primary pd-3"  (click)="selectComponent(i)" *ngFor="let obj of json1; let i=index">Button{{i+1}}</button>
    </mat-tab>

    <mat-tab >
        <ng-template mat-tab-label>
            <span (click)="in(4)" >process4</span>
        </ng-template>
       <button class=" btn btn-primary pd-3"  (click)="selectComponent(i)" *ngFor="let obj of json1; let i=index">Button{{i+1}}</button>
    </mat-tab>

    <mat-tab >
        <ng-template mat-tab-label>
            <span (click)="in(5)" >process5</span>
        </ng-template>
       <button class=" btn btn-primary pd-3"  (click)="selectComponent(i)" *ngFor="let obj of json1; let i=index">Button{{i+1}}</button>
    </mat-tab>
    </mat-tab-group>
        <div class="form-group voffset row">
            <template #loadComponent>
            </template></div>
    </div>
      
    <!-- <mat-tab label="Process2" (click)="index(2)">
            <button class="btn btn-primary pr-3px"  (click)="selectComponent(obj.process)" *ngFor="let obj of json1  let i=index">Button{{i+1}}</button>
          
             </mat-tab>

    <mat-tab label="Process3" (click)="index(1)">
                <button class="btn btn-primary"  (click)="  selectComponent(obj.process)" *ngFor="let obj of json1 let i=index">Button{{i+1}}</button>
                 </mat-tab>
            
        <mat-tab label="Process4" (click)="index(1)">
                    <button class="btn btn-primary"  (click)="  selectComponent(obj.process)" *ngFor="let obj of json1 let i=index">Button{{i+1}}</button>
                     </mat-tab>

        <mat-tab label="Process5" (click)="index(1)">
            <button class="btn btn-primary"  (click)="  selectComponent(obj.process)" *ngFor="let obj of json1 let i=index">Button{{i+1}}</button></mat-tab>
    </mat-tab-group>
  -->
<!-- </div> -->
