
/* .error{
border: 2px solid red;
} */
.form{
    margin: 2% auto 10% auto;
    background-color: white;
    height: 50vh;
    width: 23vw;
}
.img{
    height: 20vh;
    width: 10vw;
    margin: 3% 30% auto 45%;
    border-radius: 50%;
}
.email-label{
    font-size: 15px;
    font-weight:400;
    margin-left: 5%;
    margin-top: 5%;
    color: rgb(94, 93, 93);
}
.input{
    height: 8vh;
    width: 20vw;
    /* border-radius: 7%; */
    margin-top: 3%;
    
}
.button{
    height: 7vh;
    width: 8vw;
    margin-left: 60%;
    margin-top: 7%;
    /* border-radius: 8%; */
}