<!-- <app-validate-reactive-form></app-validate-reactive-form> -->

<!-- <app-data-from-json></app-data-from-json> -->
<!-- <app-jsontree></app-jsontree>
<app-main-dynamic></app-main-dynamic><br><br>
<app-showcomponent></app-showcomponent><br><br> -->

<my-tabs [tabs]="types"></my-tabs>

 <!-- <my-tabs [tabs]="types"></my-tabs>
 
<div>
<mat-tab-group (selectedTabChange)="getComponent($event)">
    <mat-tab label="process1"></mat-tab>
    <mat-tab label="process2"></mat-tab>
    <mat-tab label="process3"></mat-tab>
    <mat-tab label="process4"></mat-tab>
    <mat-tab label="process5"></mat-tab>
</mat-tab-group> 
 <my-tabs  [tabs]="types"></my-tabs>
</div> -->
 

<!-- <app-stepper></app-stepper><br><br>
<app-progress></app-progress><br><br>
<app-slide-toggle></app-slide-toggle> -->


